#wrap {width: 100%; height: auto; margin: 0 auto; background-color: #f1f1f1;}

#intro {width: 100%; height: 500px; margin: 0 auto; text-align: center; color: #fff; padding-top: 125px;}
#intro h1 {font-size: 4rem;}
.ibtn {width: 150px; height: 40px; background-color: rgb(0, 0, 0, 0); border: 1px solid #fff; color: #fff; cursor: pointer;}
.ibtn:hover {color: #000; background-color: #fff; transition: .3s;}

#about {width: 95%; height: 800px; margin: 0 auto; display: flex; flex-direction: row; padding-top: 200px;}
.about_left {width: 45%; height: 600px; margin: 0 auto;}

.ct {width: 45%; height: 570px; float: left; margin: 15px; display: flex; flex-direction: column;}

.ct1 {width: 100%; height: 270px; background-color: red;}
.ct1 img {width: 100%; height: 270px;}

.ct2 {width: 100%; height: 250px; background-color: #fff; text-align: center; margin-top: 50px; color: #777; padding-top: 75px;}
.ct2:hover {background-color: #333; color: #fff; transition: .3s;}

.ct3 {width: 100%; height: 250px; background-color: #fff; text-align: center; margin-bottom: 50px; color: #777; padding-top: 75px;}
.ct3:hover {background-color: #333; color: #fff; transition: .3s;}

.ct3 img {width: 100%; height: 270px;}

.about_right {width: 50%; height: 600px; margin: 0 auto; color: #666; padding-top: 150px;}
.abtn {width: 120px; height: 50px; background-color: rgb(14, 77, 14); border: 0px; color: #fff; cursor: pointer; font-size: 13px;}
.abtn:hover {color: #000; background-color: #fff; border: 1px solid rgb(14, 77, 14); transition: .3s;}

#service {width: 100%; height: 500px; margin: 0 auto; text-align: center; padding-top: 200px;}